Source: ros-kinetic-industrial-robot-status-controller
Section: misc
Priority: extra
Maintainer: G.A. vd. Hoorn (TU Delft Robotics Institute) <g.a.vanderhoorn@tudelft.nl>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-interface, ros-kinetic-hardware-interface, ros-kinetic-industrial-msgs, ros-kinetic-industrial-robot-status-interface, ros-kinetic-pluginlib, ros-kinetic-realtime-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-industrial-robot-status-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-interface, ros-kinetic-hardware-interface, ros-kinetic-industrial-msgs, ros-kinetic-pluginlib, ros-kinetic-realtime-tools
Description: A ros_control controller that reports robot status using the ROS-Industrial RobotStatus message.
